.toggleOnStyle{
    background-color: #7A40F2;
    color: white;
    transition: ease-in-out;
    scale: 150;
}

.toggleOffStyle{
    background-color: white;
    color: #9897AD;
    transition: ease-in-out;
}